.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #343434;
  height: 80rem;
}

.Box_Title {
  background-color: #E6B31E;
}

.Box_Body {
  display: grid;
  grid-template-columns: 12rem 28rem;
}

.image {
  height: 8rem;
  width: 12rem;
}

.Entire_Box {
  margin-top: 20rem;
  border: solid #E6B31E 0.1rem;
  height: 12rem;
  width: 40rem;
  overflow: hidden;
  transition: height 2s; /*determines the height transition to be 2s long*/
}

.Entire_Box#Box_Text_Expanded {
  height: 34rem; /*this is the class added by expandBox function*/
}